<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="caminhoBD" value="C:/Agenda/BD.accdb" />
    <add key="inicioAtendimento" value="7" /> <!--hora que inicia as atividades da clinica-->
    <add key="terminoAtendimento" value="19" /> <!--hora que termina as atividades da clinica-->
    <add key="tempoConsuta" value="30" /> <!--tempo em minutos-->
    <add key="mediaPacientesHora" value="4" /> <!--numero medio de pacientes atendidos para cada hora-->
    <add key="googleAccount" value="crzilioli@gmail.com" /><!--Conta do Google para onde será enviado o Backup do sistema-->
    <add key="googleIdDeveloper" value="350067406102-7svgmdm51qo8igst853rbp6qer7ohnp3.apps.googleusercontent.com"/> <!--Codigo do desenvolvedor no cadastro no Google Developer-->
    <add key="intervaloNoticicaoesLembretes" value="30"  /> <!--Valor do intervaloo em que as notificaoes serao mostradas-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>